h1,h2,p {
    font-family: 'Source Sans Pro', sans-serif;
}

body{
  background: rgba(239,77,182,1);
  background: -moz-linear-gradient(top, rgba(239,77,182,1) 0%, rgba(197,67,252,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,77,182,1)), color-stop(100%, rgba(197,67,252,1)));
  background: -webkit-linear-gradient(top, rgba(239,77,182,1) 0%, rgba(197,67,252,1) 100%);
  background: linear-gradient(to bottom, rgba(239,77,182,1) 0%, rgba(197,67,252,1) 100%);
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.form-group {
    width: 200px;
    margin: auto;
}

/*
 * Globals
 */

/* Links */


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  margin-top: 100px;
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*input field*/
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
  width: 200px;
  text-align: center;
  margin: auto;
}
.ghost-input {
  font-family: 'Bitter', serif;
  text-align: center;
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 40px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border:2px solid #fff;
  padding:10px 30px; 
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover, .btn-round:hover {
  background: white;
  color: black;
}

.btn-round {
  background: transparent;
  border: 2px solid white;
  /*width: 50px;
  height: 50px;*/
  border-radius: 50%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/*style list of previous guesses*/
.previousGuesses{
  display: inline-block;
  padding-left: 0;
}

.previousGuesses li{
  margin-right: 10px;
  padding-right: 5px;
  list-style: none;
  text-decoration: none;
  float: left;
  border-right: 1px solid white;
}

.past{
  margin-top: 50px;
  margin-bottom: 40px;
}